/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-purple {
    background: rgb(191, 0, 196);
    background: linear-gradient(90deg, rgba(191, 0, 196, 1) 0%, rgba(180, 6, 100, 0.908000700280112) 100%);
}

.text-purple {
    color: rgb(191, 0, 196);
}